.slider-container {
  max-height: 318px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainSlideContainer {
  height: 232px;
  width: 358px;
  border-radius: 20px;
}

.secondarySlideContainer {
  height: 66px;
  width: 358px;
}

.slider-container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.mainSlideContainer img {
  cursor: grab;
}

.secondarySlideContainer img {
  border-radius: 12px;
  cursor: pointer;
  height: 66px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.swiper-slide-thumb-active {
  opacity: 0.4;
}
